.strikeRate-box{
	position: absolute;
    right: 0;
    top: 12px;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #767676;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    transition: transform 0.2s;
}