.gv__interactive-container{

.gv-halo-column {
    position: relative;
    display: inline-block;
    margin: 36px 0 0;
    width: 100%;
    
    height: auto;
    -webkit-font-smoothing: antialiased;


    @include mq(tablet) {
            margin: 0 20px 0 0;
            max-width: 220px;
         }
    @include mq(desktop) {
            margin: 0 10px 0;
            max-width: 280px;
         }   
     @include mq(leftCol) {
            margin: 0 10px 0;
            max-width: 300px;
         }     

    p {
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size: 18px;
        font-weight: 400;
        color: #767676;
        margin:0;

   }
}
.gv-custom-head2{
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Guardian Egyptian Web', Georgia, serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    @include mq(tablet){
        margin: 0 0 12px 0;
    }
}
.gv-halo-head {
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 20px;
    font-weight: 500;
    color: #767676;
    margin-bottom: 3px !important;
    
}

.gv-halo-cap-head {
    position:relative;
    margin:0;
    padding:0;
    display:block;
    font-family: "Guardian Text Sans Web",Georgia,serif;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.gv-halo-image-holder{
    width:100%;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    // border-radius:999px;
    padding-bottom:100%;
    margin-top:12px;
}

.gv-headline-text{
    position:relative;
    margin:36px 0 0 0;
    padding:0;
    display:block;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 18px;
    font-weight: bold;
    color: #767676;
    -webkit-font-smoothing: antialiased;

    @include mq(tablet){
        margin: 0;
    }

    @include mq(desktop){
        
    }

    
}

.gv-headline-figure{
    position: relative;
    width: 100%;
    margin: 0 0 6px 0;
    display: block;
    font-family: "Guardian Egyptian Web",Georgia,serif;
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    -webkit-font-smoothing: antialiased;

    @include mq(tablet){
        font-size: 22px;
    }

    @include mq(desktop){
        margin-top:18px;
        font-size: 48px;
        font-weight: 200;
    }

    @include mq(leftCol){
        margin-top:18px;
        font-size: 60px;
        font-weight: 200;
    }
}

.gv-headline-cap {
    position:relative;
    width:100%;
    display:block;  
    font-family: "Guardian Text Sans Web",Georgia,serif;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    -webkit-font-smoothing: antialiased;
}

.gv-holder-div {
    position: relative;
    width: 100%;
    max-width: 960px;
}

.single-col{
    position: relative;
      display:inline-block;
      width:80px;
      margin:0;


    @include mq(tablet){
      margin:0 20px 0 0;
      width: 180px;
    }

     @include mq(leftCol){
      margin:0 10px;
      width: 230px;
    }
}

.treemap-mobile-div{
    position:relative;
    margin: 0 0 1px 0;
    padding: 0; 
    width:100%;
    cursor:pointer;


    .cell-mobile-label{
        width:100%;
        padding: 3px 0 0 3px;
        font-family: "Guardian Text Sans Web",Georgia,serif;
        font-size: 14px;
        font-weight: 400;
        color: #FFF;
        -webkit-font-smoothing: antialiased;
    }


}

}