#chart {
  width: 960px;
  height: 500px;
  background: #FFFFFF;
}

.gv__graph-holder{
  position:fixed;
  width:100%;
  max-width:1300px;
  top:0px;
  background:$neutral-1;
}

.gv__graph-container{
  background:$neutral-1;
}

.gv__club-list{
  
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.text-name {
  font-weight: bold;
}
.text-name, .text-value {
	fill:#FFF;

}
.text-value {
	@include fs-headline(8);
  font-weight: lighter;
}




.textdiv { /* text in the boxes */
  @include fs-data(3);
  font-weight: lighter;
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: $neutral-5;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis line {
   // stroke-dasharray: 1,2;
   stroke:#EFEFEF;
}

.axis text, .strikerate-label text {
   @include fs-data(2);
  fill: $neutral-2;
}

.dot {
  cursor: pointer;
  shape-rendering: auto;
}




.sell{
  
     // fill: rgba($neutral-5, .15);
}  

.buy{
      //fill:$neutral-8;
     // fill: rgba($neutral-5, .15);
}



// .highlight{
//     fill: $features-main-2;
//     stroke: $features-main-2;
//     // transition: fill .3s ease-out;
//  } 

$buy-color:#c05303;
$sell-color:#005689;

$buy-color-2: #ff9b0b;
$sell-color-2: #005689;

$buy-color-noFee:#63717a;
$sell-color-noFee:#484f53;



.buy{
    // stroke: #94a3b8;
    // stroke-opacity: 0.2;
    // stroke-width: 1.5;
    fill: #c5d4ea;
    fill-opacity: 0.9;
}  

.sell{
    // stroke: #c78b00;
    // stroke-opacity: 0.2;
    // stroke-width: 2;
    fill: #ffbb00;
    fill-opacity: 0.9; 
}

.buy-hl{
    stroke: #005689;//#c5d4ea
    stroke-opacity: 1;
    stroke-width: 1;
    fill: #94a3b8;
    fill-opacity: 0.9;
}

.sell-hl{
    stroke: #c78b00;
    stroke-opacity: 1;
    stroke-width: 1;
    fill: #ffbb00;
    fill-opacity: 0.9;
} 


.buy-noFee{
  fill: rgba(#999,0.9);
}

.sell-noFee{
    // stroke: #ddd;
    // stroke-opacity: 1;
    // stroke-width: 1;
    fill: #eee;
    fill-opacity: 0.9; 
}

.buy-noFee-hl{
  fill: rgba(#999,0.9);
}

.sell-noFee-hl{
  fill: rgba(#DDD,0.9); 
}





.chart__dropdown-container{
  width:100%;
}

.chart__dropdown{
  width:400px;
  height:36px;
}

.scatter-grid-holder{
        margin-top:$gs-gutter;
        margin-bottom: gs-span(1);

  @include mq(mobileLandscape) {
        
        
    }      
  @include mq(leftCol) {
        margin-bottom: gs-height(1);
        
    }
}

.strikeRate-box{
  position: absolute;
    right: 0;
    top: 12px;
    width: auto;
    height: auto;
    padding: 5px;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #767676;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    transition: transform 0.2s;
}

.domain {
  stroke-width:0;
}

