#chart {
  width: 960px;
  height: 500px;
  background: #FFFFFF;
}

.gv__graph-holder{
  position:fixed;
  width:100%;
  max-width:1300px;
  top:0px;
  background:$neutral-1;
}

.gv__graph-container{
  background:$neutral-1;
}

.gv__club-list{
  
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.text-name {
  font-weight: bold;
}
.text-name, .text-value {
	fill:#FFF;

}
.text-value {
	@include fs-headline(8);
  font-weight: lighter;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: white;
}

.grandparent:hover rect {
  fill: white;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

.textdiv { /* text in the boxes */
  @include fs-data(3);
  font-weight: lighter;
  padding: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: $neutral-5;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis line {
  // stroke-dasharray: 1,2;
}

.axis text, .strikerate-label text {
   @include fs-data(2);
  fill: $neutral-2;
}

.dot {
  cursor: pointer;
  shape-rendering: auto;
}

.sell{
  
     // fill: rgba($neutral-5, .15);
}  

.buy{
      //fill:$neutral-8;
     // fill: rgba($neutral-5, .15);
}

// .highlight{
//     fill: $features-main-2;
//     stroke: $features-main-2;
//     // transition: fill .3s ease-out;
//  } 
.buy{
  fill: rgba(#DDD,0.3);
}  

.sell{
  fill: rgba(#AAA,0.3); 
}

.buy-hl{
    fill: rgba(#FFBB00,0.8);
}

.sell-hl{
  fill:rgba(#333333,0.8); 
} 




.chart__dropdown-container{
  width:100%;
}

.chart__dropdown{
  width:400px;
  height:36px;
}

.scatter-grid-holder{
        margin-top:$gs-gutter;
        margin-bottom: gs-height(1);
  @include mq(mobileLandscape) {
        
        
    }      
  @include mq(leftCol) {
        margin-bottom: gs-height(2);
        
    }
}

