#chart {
  width: 960px;
  height: 500px;
  background: #FFFFFF;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.text-name {
  font-weight: bold;
}
.text-name, .text-value {
	fill:#FFF;

}
.text-value {
	@include fs-headline(8);
  font-weight: lighter;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: white;
}

.grandparent:hover rect {
  fill: white;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

.textdiv { /* text in the boxes */
  @include fs-headline(8);
  font-weight: lighter;
  padding: 5px;
}
